<div class="latest-questions">
  <h2>Latest Questions</h2>
  <div class="question" *ngFor="let question of questions">
    <div class="question-info">
      <span class="votes">{{ question.votes }} votes</span>
      <a class="question-title" [routerLink]="['/question', question.id]">{{ question.title }}</a>
    </div>
    <div>
      <span class="views">{{ question.views }} views</span>
      <p class="question-body">{{ question.body }}</p>
    </div>
    <div class="tags-box">
      <span class="tag" *ngFor="let tag of question.tags">{{ tag }}</span>
    </div>
    <!-- Added posted-by and posted-date -->
    <div class="posted-info">
      <span class="posted-by">Posted by: {{ question.postedBy }}</span>
      <span class="posted-date">on {{ question.postedDate }}</span>
    </div>
  </div>
</div>
