
<div class="activity-container">
  <h1 class="activity-title">Dashboard</h1>

  <div class="dashboard">
    <!-- Total Questions Box -->
    <div class="box total-questions">
      <span class="material-icons" style="color: #4285F4">
     psychology_alt
      </span>
      <h5>Total Questions</h5>
      <p>{{ totalQuestions }}</p>
    </div>

    <!-- Answers Given Box -->
    <div class="box answers-given">
      <span class="material-icons" style="color: #34A853">
     question_answer </span>
      <h5>Answers Given</h5>
      <p>{{ answersGiven }}</p>
    </div>

    <!-- Average Response Time Box -->
    <div class="box avg-response-time">
      <span class="material-icons" style="color: #ffd900">
       watch_later </span>
      <h5>Avg. Response Time</h5>
      <p>{{ avgResponseTime }} hrs</p>
    </div>
  </div>
  <h1 class="activity-title">Activity Timeline</h1>

  <div class="timeline">
    <div *ngFor="let activity of activities; let last = last"
         class="timeline-item">

      <div class="timeline-icon" [style.background-color]="getIconColor(activity.type)">
        <i class="material-icons">
          {{ activity.type === 'question' ? 'help_outline' :
          activity.type === 'answer' ? 'chat_bubble_outline' :
            'check_circle_outline' }}
        </i>
      </div>

      <div class="timeline-content">
        <p class="activity-text">
          {{ activity.title }} <strong>{{ activity.user }}</strong>
        </p>
        <span class="activity-date">{{ formatDate(activity.date,"MM-dd-yy, h:mm a","EN") }}</span>
      </div>

      <div class="timeline-line" *ngIf="!last"></div>
    </div>
  </div>
</div>
